cohort3/triforciacohort3pack/force-app/main/default/flows/Lead_Info_Regular_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assign_ad</name>
        <label>assign ad</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_campaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_content</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_medium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Referer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_referer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.UTM_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>utm_term</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAd.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_ad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Campaign_Member</name>
        <label>assign Campaign Member</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>singleCampaignMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCampaignMember.LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleLead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCampaignMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Campaign_member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_single_lead</name>
        <label>assign single lead</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>singleLead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Info_Session_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Info_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Interested_Path__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interested_Path</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedCourseName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLead.Ad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleAd.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_lead_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_single_Interview</name>
        <label>assignment single Interview</label>
        <locationX>176</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>singleInterview.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleLead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleInterview.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Scheduled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_interview</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>courseList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>Course__c</object>
        <outputAssignments>
            <assignToReference>selectedCourseName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Lead Info Regular Form {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Lead Info Regular Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_ad</name>
        <label>create ad</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Registration_Flow</targetReference>
        </connector>
        <inputReference>singleAd</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_Campaign_member</name>
        <label>create Campaign member</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>assignment_single_Interview</targetReference>
        </connector>
        <inputReference>singleCampaignMember</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_interview</name>
        <label>create interview</label>
        <locationX>176</locationX>
        <locationY>1238</locationY>
        <inputReference>singleInterview</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_lead_record</name>
        <label>create lead record</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>assign_Campaign_Member</targetReference>
        </connector>
        <inputReference>singleLead</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_campaign</name>
        <label>get campaign</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_ad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>utm_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Registration_Flow</name>
        <label>Registration Flow</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_single_lead</targetReference>
        </connector>
        <fields>
            <name>reklamdata</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Ads Data:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(215, 19, 19); font-size: 12px;&quot;&gt;{!utm_term}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(215, 19, 19); font-size: 12px;&quot;&gt;{!utm_campaign}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(215, 19, 19); font-size: 12px;&quot;&gt;{!utm_content}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(215, 19, 19); font-size: 12px;&quot;&gt;{!utm_id}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(215, 19, 19); font-size: 12px;&quot;&gt;{!utm_medium}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(215, 19, 19); font-size: 12px;&quot;&gt;{!utm_source}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(215, 19, 19); font-size: 12px;&quot;&gt;{!utm_referer}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>singleLead.Name</objectFieldReference>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>singleLead.Address</objectFieldReference>
        </fields>
        <fields>
            <name>Info_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Info Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Interested_Path</name>
            <choiceReferences>courseList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Interested Path</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_campaign</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>selectedCourseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleAd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ad__c</objectType>
    </variables>
    <variables>
        <name>singleCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>singleInterview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interview__c</objectType>
    </variables>
    <variables>
        <name>singleLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>utm_campaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_content</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_medium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_referer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utm_term</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
