Apex1/force-app/main/default/flows/MultiAcc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>singleAccFill</name>
        <label>singleAccFill</label>
        <locationX>1159</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>singleAcc.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>counterAccName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>num</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>multiAcc</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleAcc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fake_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Fake_Loop</name>
        <label>Fake Loop</label>
        <locationX>638</locationX>
        <locationY>264</locationY>
        <defaultConnector>
            <targetReference>singleAccFill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Num_is_300</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>num</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>300.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>insert_multiAcc</targetReference>
            </connector>
            <label>Num is 300</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>counterAccName</name>
        <dataType>String</dataType>
        <expression>&apos;Flow Bulk Acc &apos; &amp; TEXT({!num})</expression>
    </formulas>
    <interviewLabel>MultiAcc {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MultiAcc</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>insert_multiAcc</name>
        <label>insert multiAcc</label>
        <locationX>646</locationX>
        <locationY>451</locationY>
        <connector>
            <targetReference>Text12</targetReference>
        </connector>
        <inputReference>multiAcc</inputReference>
    </recordCreates>
    <screens>
        <name>Text12</name>
        <label>Text12</label>
        <locationX>644</locationX>
        <locationY>627</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;Number of {!num} successfully created!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>530</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Fake_Loop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>multiAcc</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>num</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>singleAcc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
